{% extends 'base.html' %}

{% block title %}
Error 404
{% endblock title %}


{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock custom_css %}

{% block body %}

    <div class="container col-lg-4 col-lg-offset-4 main">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1> Oops! </h1>
                    <h2> 404 Not Found </h2>
                    <div class="error-details">
                        ERROR: {{ error.error }}
                    </div>
                    <div class="error-actions go-home">
                        <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                            Take Me Home </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        body {
            font-size: large;

            text-align: center;
            background-color: #eff8ff;


        }

        .main {
            background-color: black;
            color: white;
            opacity: 70%;
            border-radius: 20px;
            margin-top: 10%;
            padding: 30px 20px 40px 20px;

        }

        .go-home {
            color: white;
            border-radius: 20px;
            padding: 20px 20px 40px 20px;

        }
    </style>

    {% endblock body %}